* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.core.resources.prefs -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/feeds/compound.jsp -text
WebContent/feeds/compound_by_source_count_weekly.jsp -text
WebContent/feeds/compound_by_source_count_weekly_full.jsp -text
WebContent/feeds/compounds_distinct_count.jsp -text
WebContent/feeds/gene.jsp -text
WebContent/feeds/gene_by_source_count_weekly.jsp -text
WebContent/feeds/genes_distinct_count.jsp -text
WebContent/feeds/n3c_drug.jsp -text
WebContent/feeds/n3c_drug_by_source_count_weekly.jsp -text
WebContent/feeds/n3c_drugs_distinct_count.jsp -text
WebContent/feeds/n3c_drugs_total_count.jsp -text
WebContent/feeds/ncats_drug.jsp -text
WebContent/feeds/ncats_drug_by_source_count_weekly.jsp -text
WebContent/feeds/ncats_drugs_distinct_count.jsp -text
WebContent/feeds/protein.jsp -text
WebContent/feeds/protein_by_source_count_weekly.jsp -text
WebContent/feeds/proteins_distinct_count.jsp -text
WebContent/feeds/substance.jsp -text
WebContent/feeds/substance_by_source_count_weekly.jsp -text
WebContent/feeds/substances_distinct_count.jsp -text
WebContent/feeds/total_by_source_count_weekly.jsp -text
WebContent/feeds/total_by_source_count_weekly_int.jsp -text
WebContent/feeds/total_by_source_count_weekly_int2.jsp -text
WebContent/feeds/total_count_weekly.jsp -text
WebContent/footer.jsp -text
WebContent/graph_support/bar.jsp -text
WebContent/graph_support/bar_test.jsp -text
WebContent/graph_support/d3RangeSlider.css -text
WebContent/graph_support/d3RangeSlider.html -text
WebContent/graph_support/d3RangeSlider.js -text
WebContent/graph_support/horizontalBarChart.jsp -text
WebContent/graph_support/line.html -text
WebContent/graph_support/line.jsp -text
WebContent/graph_support/line_test.jsp -text
WebContent/graph_support/multiline.js -text
WebContent/graph_support/multiline.jsp -text
WebContent/graph_support/multiline_test.jsp -text
WebContent/graph_support/pieChart.jsp -text
WebContent/graph_support/pyramid.jsp -text
WebContent/graph_support/pyramid_test.jsp -text
WebContent/graph_support/scatterplot.jsp -text
WebContent/graph_support/verticalBarChart.jsp -text
WebContent/graph_support/violinPlot.jsp -text
WebContent/graph_support/violinPlot2.jsp -text
WebContent/graph_support/violin_test.jsp -text
WebContent/head.jsp -text
WebContent/home.jsp -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/n3c/drug_count_by_source.jsp -text
WebContent/n3c/drug_plot_by_source.jsp -text
WebContent/n3c/dummy.jsp -text
WebContent/n3c/index.jsp -text
WebContent/navbar.jsp -text
WebContent/ncats_drugs/index.jsp -text
WebContent/ncats_drugs/ncats_drug_count_by_source.jsp -text
WebContent/ncats_drugs/ncats_drug_plot_by_source.jsp -text
WebContent/pubchem/compound_count_by_source.jsp -text
WebContent/pubchem/compound_plot_by_source.jsp -text
WebContent/pubchem/compounds.jsp -text
WebContent/pubchem/compounds_new.jsp -text
WebContent/pubchem/gene_count_by_source.jsp -text
WebContent/pubchem/gene_plot_by_source.jsp -text
WebContent/pubchem/genes.jsp -text
WebContent/pubchem/protein_count_by_source.jsp -text
WebContent/pubchem/protein_plot_by_source.jsp -text
WebContent/pubchem/proteins.jsp -text
WebContent/pubchem/substance_count_by_source.jsp -text
WebContent/pubchem/substance_plot_by_source.jsp -text
WebContent/pubchem/substances.jsp -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/d3RangeSlider.css -text
WebContent/resources/d3RangeSlider.js -text
WebContent/resources/dataTables.rowsGroup.js -text
WebContent/resources/he.js -text
WebContent/resources/n3c_login_style.css -text
WebContent/tables/compound.jsp -text
WebContent/tables/gene.jsp -text
WebContent/tables/n3c_drug.jsp -text
WebContent/tables/ncats_drug.jsp -text
WebContent/tables/protein.jsp -text
WebContent/tables/substance.jsp -text
/pom.xml -text
