* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.core.resources.prefs -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/feeds/n3c_drug.jsp -text
WebContent/feeds/n3c_drug_by_source_count_weekly.jsp -text
WebContent/feeds/n3c_drugs_distinct_count.jsp -text
WebContent/feeds/ncats_drug.jsp -text
WebContent/feeds/ncats_drug_by_source_count_monthly.jsp -text
WebContent/feeds/ncats_drug_by_source_count_monthly2.jsp -text
WebContent/feeds/ncats_drug_by_source_count_weekly.jsp -text
WebContent/feeds/ncats_drugs_distinct_count.jsp -text
WebContent/feeds/pubchem_compound.jsp -text
WebContent/feeds/pubchem_compound_by_source_count_weekly.jsp -text
WebContent/feeds/pubchem_compounds_distinct_count.jsp -text
WebContent/feeds/pubchem_gene.jsp -text
WebContent/feeds/pubchem_gene_by_source_count_weekly.jsp -text
WebContent/feeds/pubchem_genes_distinct_count.jsp -text
WebContent/feeds/pubchem_protein.jsp -text
WebContent/feeds/pubchem_protein_by_source_count_weekly.jsp -text
WebContent/feeds/pubchem_proteins_distinct_count.jsp -text
WebContent/feeds/pubchem_substance.jsp -text
WebContent/feeds/pubchem_substance_by_source_count_weekly.jsp -text
WebContent/feeds/pubchem_substances_distinct_count.jsp -text
WebContent/feeds/total_by_source_count_weekly.jsp -text
WebContent/feeds/total_source_by_month.jsp -text
WebContent/feeds/total_source_by_month2.jsp -text
WebContent/feeds/total_source_by_week.jsp -text
WebContent/filters/source.jsp -text
WebContent/footer.jsp -text
WebContent/graph_support/bar.jsp -text
WebContent/graph_support/bar_test.jsp -text
WebContent/graph_support/d3RangeSlider.css -text
WebContent/graph_support/d3RangeSlider.html -text
WebContent/graph_support/d3RangeSlider.js -text
WebContent/graph_support/horizontalBarChart.jsp -text
WebContent/graph_support/line.html -text
WebContent/graph_support/line.jsp -text
WebContent/graph_support/line_test.jsp -text
WebContent/graph_support/multiline.js -text
WebContent/graph_support/multiline.jsp -text
WebContent/graph_support/multiline_test.jsp -text
WebContent/graph_support/pieChart.jsp -text
WebContent/graph_support/pyramid.jsp -text
WebContent/graph_support/pyramid_test.jsp -text
WebContent/graph_support/scatterplot.jsp -text
WebContent/graph_support/time_line_4_column.jsp -text
WebContent/graph_support/time_line_n_column_local.jsp -text
WebContent/graph_support/verticalBarChart.jsp -text
WebContent/graph_support/violinPlot.jsp -text
WebContent/graph_support/violinPlot2.jsp -text
WebContent/graph_support/violin_test.jsp -text
WebContent/head.jsp -text
WebContent/home.jsp -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/n3c/drug_count_by_source.jsp -text
WebContent/n3c/drug_plot_by_source.jsp -text
WebContent/n3c/dummy.jsp -text
WebContent/n3c/index.jsp -text
WebContent/navbar.jsp -text
WebContent/ncats/index.jsp -text
WebContent/ncats/ncats_drug_count_by_source.jsp -text
WebContent/pubchem/compound_count_by_source.jsp -text
WebContent/pubchem/compound_plot_by_source.jsp -text
WebContent/pubchem/compounds.jsp -text
WebContent/pubchem/gene_count_by_source.jsp -text
WebContent/pubchem/gene_plot_by_source.jsp -text
WebContent/pubchem/genes.jsp -text
WebContent/pubchem/protein_count_by_source.jsp -text
WebContent/pubchem/protein_plot_by_source.jsp -text
WebContent/pubchem/proteins.jsp -text
WebContent/pubchem/substance_count_by_source.jsp -text
WebContent/pubchem/substance_plot_by_source.jsp -text
WebContent/pubchem/substances.jsp -text
WebContent/resources/DataTables/css/dataTables.bootstrap.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.min.css -text
WebContent/resources/DataTables/css/dataTables.bulma.css -text
WebContent/resources/DataTables/css/dataTables.bulma.min.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.min.css -text
WebContent/resources/DataTables/css/dataTables.foundation.css -text
WebContent/resources/DataTables/css/dataTables.foundation.min.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.min.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.min.css -text
WebContent/resources/DataTables/css/jquery.dataTables.css -text
WebContent/resources/DataTables/css/jquery.dataTables.min.css -text
WebContent/resources/DataTables/datatables.min.css -text
WebContent/resources/DataTables/datatables.min.js -text
WebContent/resources/DataTables/images/sort_asc.png -text
WebContent/resources/DataTables/images/sort_asc_disabled.png -text
WebContent/resources/DataTables/images/sort_both.png -text
WebContent/resources/DataTables/images/sort_desc.png -text
WebContent/resources/DataTables/images/sort_desc_disabled.png -text
WebContent/resources/DataTables/js/dataTables.bootstrap.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.min.js -text
WebContent/resources/DataTables/js/dataTables.bulma.js -text
WebContent/resources/DataTables/js/dataTables.bulma.min.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.min.js -text
WebContent/resources/DataTables/js/dataTables.foundation.js -text
WebContent/resources/DataTables/js/dataTables.foundation.min.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.min.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.min.js -text
WebContent/resources/DataTables/js/jquery.dataTables.js -text
WebContent/resources/DataTables/js/jquery.dataTables.min.js -text
WebContent/resources/anime.min.js -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/bootstrap/.DS_Store -text
WebContent/resources/bootstrap/css/bootstrap-grid.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.rtl.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.rtl.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.rtl.min.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.rtl.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.rtl.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.rtl.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.rtl.min.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.rtl.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-utilities.css -text
WebContent/resources/bootstrap/css/bootstrap-utilities.css.map -text
WebContent/resources/bootstrap/css/bootstrap-utilities.min.css -text
WebContent/resources/bootstrap/css/bootstrap-utilities.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-utilities.rtl.css -text
WebContent/resources/bootstrap/css/bootstrap-utilities.rtl.css.map -text
WebContent/resources/bootstrap/css/bootstrap-utilities.rtl.min.css -text
WebContent/resources/bootstrap/css/bootstrap-utilities.rtl.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap.css -text
WebContent/resources/bootstrap/css/bootstrap.css.map -text
WebContent/resources/bootstrap/css/bootstrap.min.css -text
WebContent/resources/bootstrap/css/bootstrap.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap.rtl.css -text
WebContent/resources/bootstrap/css/bootstrap.rtl.css.map -text
WebContent/resources/bootstrap/css/bootstrap.rtl.min.css -text
WebContent/resources/bootstrap/css/bootstrap.rtl.min.css.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js.map -text
WebContent/resources/bootstrap/js/bootstrap.esm.js -text
WebContent/resources/bootstrap/js/bootstrap.esm.js.map -text
WebContent/resources/bootstrap/js/bootstrap.esm.min.js -text
WebContent/resources/bootstrap/js/bootstrap.esm.min.js.map -text
WebContent/resources/bootstrap/js/bootstrap.js -text
WebContent/resources/bootstrap/js/bootstrap.js.map -text
WebContent/resources/bootstrap/js/bootstrap.min.js -text
WebContent/resources/bootstrap/js/bootstrap.min.js.map -text
WebContent/resources/d3-tip.js -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/d3RangeSlider.css -text
WebContent/resources/d3RangeSlider.js -text
WebContent/resources/dataTables.rowsGroup.js -text
WebContent/resources/he.js -text
WebContent/resources/jquery-colorize.js -text
WebContent/resources/n3c_login_style.css -text
WebContent/resources/select2/select2.js -text
WebContent/resources/select2/select2.min.css -text
WebContent/resources/select2/select2.min.js -text
WebContent/resources/select2/select2_search.js -text
WebContent/resources/select2_search.js -text
WebContent/resources/slider.min.js -text
WebContent/tables/n3c_drug.jsp -text
WebContent/tables/ncats_drug.jsp -text
WebContent/tables/pubchem_compound.jsp -text
WebContent/tables/pubchem_gene.jsp -text
WebContent/tables/pubchem_protein.jsp -text
WebContent/tables/pubchem_substance.jsp -text
WebContent/tables/timeline_table.jsp -text
/pom.xml -text
